<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/add_post.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<form method="POST" action="/add_post" >
    <h3>welcome to Camels4You</h3>
    <h4>chose if you want to post a picture of you and youre camle or write about the realation between you and your camle</h4>
    <input type="text"  name="text" placeholder="description" maxlength="280">
    <input type="text"  name="image" placeholder="Image Link" maxwidth="200" maxheight="200">
    <input type="submit" name="submit" value="submit" required>

    </form>

</body>
</html>