<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/adopt.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>have fun with youre camle</h1>
	<h2>here you can:</h2>
	<h3>share experiences, stories, and adventures with your virtual camel, This could include heartwarming moments, challenges they faced, and the joy they experienced in caring for their virtual companions</h3>
	<h3> share camel Photos,Users can upload pictures of their virtual camels</h3>

	<a href="/">back to home page</a>
	<a href="/add_post">post about your camel</a>






</body>
</html>