<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/oscarStyle.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>Daisy</h1>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWtPYq67BZPglVGfhW8XjoNB81DtmWrMtE8Q&usqp=CAU" alt="Sandy">
	<p>Personality: Daisy is a gentle and nurturing camel, making her an ideal companion for families and children.
Description: With her kind eyes and gentle nature, Daisy will steal your heart. She's exceptionally patient and loves spending time with children, making her a beloved addition to any virtual family.</p>

      <a href="/">back to home page</a>
      <a href="/adopt">adopt daisy</a>

</body>
</html>