<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="static/css/oscarStyle.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>Oscar</h1>
	<img src="https://animals.sandiegozoo.org/sites/default/files/inline-images/camel_dromedary.jpg" alt="Sandy">
	<p>Personality: Oscar is a curious and intelligent camel, always ready to solve camel-sized puzzles and challenges.
Description: With an inquisitive mind and a love for learning, Oscar is the perfect companion for adopters who enjoy solving riddles and exploring the mysteries of the desert.</p>

      <a href="/">back to home page</a>
      <a href="/adopt">adopt oscar</a>



</body>
</html>