<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/oscarStyle.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>Rex</h1>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQULkKhnppGdUFpcRZMgyxCe9N6sWQNM_j1xA&usqp=CAU" alt="Rex">
	<p>Personality: Personality: Rex is an adventurous and mischievous camel, always seeking excitement and exploration.
Description: With a twinkle in his eye and a knack for finding hidden trails, Rex is the ultimate explorer. Adopters who love discovering new places and embarking on thrilling escapades will find an ideal partner in Rex.</p>

      <a href="/">back to home page</a>
      <a href="/adopt">adopt rex</a>

</body>
</html>