<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/oscarStyle.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>Sandy</h1>
	<img src="https://ychef.files.bbci.co.uk/1280x720/p094vhmp.jpg" width="500" height="600">
<p>Personality: Sandy is a friendly and outgoing camel who loves meeting new people and other virtual camels.
Description: With a sandy-colored coat that blends perfectly with the desert landscape, Sandy is the life of the party. Always up for adventures, this camel's playful antics will bring joy and laughter to your virtual family.</p>

<a href="/">back to home page</a>
<a href="/adopt">adopt Sandy</a>





</body>
</html>